html {
  font-family: sans-serif;
  color: #333;
  font-size: 1.2em;
  line-height: 1.2;
}
body {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#list:before,
#list:after {
  content: '';
  display: table;
}
#list:after {
  clear: both;
}
#list > li {
  float: left;
  width: 18em;
  height: 20em;
  padding: 1.2em .75em 0 0;
  margin: 1em 1em 2em;
  border-top: .4em solid #333;
  overflow-y: auto;
}
img {
  max-width: 100%;
  max-height: 7em;
  display: block;
  margin: 0 0 1em;
}
dl {
}
dt {
  font-size: .75em;
  font-weight: 100;
  text-transform: uppercase;
}
dd {
  margin: 0 0 .5em;
}
.tags {
}
.tags li {
  display: inline;
}
.tags li:after {
  content: ', '
}
.tags li:last-child:after {
  content: ''
}

